.page__about{
    padding: 120px 0;
    background-image: url(../../image/page__about/back.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.about-content{
    max-width: 640px;
}
@media(max-width: 768px){
    .page__about{
        padding: 60px 0 80px 0;
    }
    .about_img img{
    max-width: 276px;
    }
}